$h_top: 45px;
$font_size_default: 13px;
body {
  padding-top: $h_top;
  font-size: $font_size_default;
  font-family: 'Open Sans', arial, sans-serif;
}

.top-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  background-color: #fafafb;
  transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
  box-sizing: border-box;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  border-top: 3px solid #F48024;
  padding:0;
  .navbar-brand{
    padding:0;
    margin-left:1rem;
    font-size: 1rem;
  }
  .navbar-nav .nav-link{
    color:#535a60;
    &:hover,&:active,&:focus{
      color: #0C0D0E;
    }
  }
  &._fixed{
    min-width: auto;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
  }
  ul, li{
    margin: 0;
    padding:0;
    list-style: none;
  }
  ul{
    li{
      display: flex;
      align-items: center;
      &:hover{
        .sub-menu{
          display: block;
        }
      }
      a{
        padding:0.7rem 1rem;
      }
    }
    &.sub-menu{
      padding: 10px 7px;
      top:100%;
      width: 215px;
      background-color: #FFF;
      box-shadow: 0 2px 2px rgba(12,13,14,0.2);
      position: absolute;
      text-align: left;
      border-left: 1px solid #e4e6e8;
      border-right: 1px solid #e4e6e8;
      border-bottom: 1px solid #e4e6e8;
      display: none;
      li{
        &:not(:last-child){
          border-bottom: 1px solid #eff0f1;
        }
        a{
          color: #2f3337;
        }
        &:hover,&:focus,&:active{
          background-color: #f7f8f8;
        }
      }
    }
  }
}

._fixed{
  position:fixed;
}

#content {
  flex: 0 0 75%;
  max-width: 75%;
  background-color: #FFF;
  border-radius: 0;
  border-right: 1px solid #d6d9dc;
  padding: 24px;
  box-sizing: border-box;
}

.right-sidebar {
  flex: 0 0 25%;
  max-width: 25%;
  padding-top: 24px;
  flex-shrink: 0;
  z-index: 1000;
  position: relative;
  box-shadow: 0 0 0 rgba(12,13,14,0.05);
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
}
.container
{
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
}

.container{
  max-width: 1264px;
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.scroll-spy {
  padding: 0;
  margin: 0 0 12px;
  list-style: none;
  li{
    margin: 0;
    padding: 0;

    font-weight: bold;
    background: rgba(12,13,14,0.05);
    color: #0C0D0E;
    border-right: 3px solid #F48024;
  }
}
.right-sidebar {
  ul, li{
    list-style: none;
    padding:0;
  }
  ul{
    &:not(:first-child){
      padding-left:1.5rem;
    }

    li{
      a{
        padding: 8px 6px 8px 1.5rem;
        display: block;
        color: #535a60;
        position: relative;
        &:hover,&:active,&:focus{
          text-decoration: none;
          color: #0C0D0E;
        }
        &.active{
          font-weight: bold;
          background: rgba(12,13,14,0.05);
          color: #0C0D0E;
          &:before{
            position: absolute;
            left:0;
            border-left: 3px solid #F48024;
            content: '';
            height: 100%;
            top:0;
          }
        }
      }
    }
  }
}
/**post**/
h1{
  font-size: 2.07692308rem !important;
  &h2,&h3{
    line-height: 1.3;
    margin: 0 0 1em;
  }
}
h3{
  font-size: 1rem !important;
}

.b-top{
  border-top: 1px solid #d6d9dc;
}

.post-content{
  transform: translateZ(0);
  transition:all 0.5s;
}


.wrap-list-post {
  overflow: auto;
  margin-bottom: 30px;
  .item{
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    overflow: hidden;
    border-bottom: 1px solid #eff0f1;
  }
}

.post-hyperlink{
  color: #07C;
  line-height: 1.3;
  margin-bottom: 1.2em;
  &:hover{
    color:#ec1f27;
  }
}
/**load more**/
.wrap-load-more-ajax{
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  .load-more-ajax{
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 8px 10px;
    border: 1px solid #C9C9C9;
    text-align: center;
    vertical-align: middle;
    color: #A5A5A5;
    i{
      margin-left: 6px;
    }
    &:hover{
      background-color: #ec1f27;
      text-decoration: none;
      color:#fff;
      border-color: #ec1f27;
    }
  }
}

/*loading*/
.back {
  margin:1em auto;
}
.back span {
  font-size:3em;
  color:#F2C640;
  background:#262B37;
  display:table-cell;
  box-shadow:inset 0 0 5px rgba(0,0,0,0.3), 0 5px 0 #ccc;
  padding: 0 15px;
  line-height: 100px;
  animation:jumb 2s infinite;
}
@keyframes jumb {
  0% {
    transform:translateY(0px)
  }
  50% {
    transform:translateY(-30px);
    box-shadow:0 15px 0 rgb(242, 198, 64);
  }
  100% {
    transform:translateY(0px)
  }
}
.back span:nth-child(1) {
  animation-delay:0s;
}
.back span:nth-child(2) {
  animation-delay:.1s;
}
.back span:nth-child(3) {
  animation-delay:.2s;
}
.back span:nth-child(4) {
  animation-delay:.3s;
}
.back span:nth-child(5) {
  animation-delay:.4s;
}
.back span:nth-child(6) {
  animation-delay:.5s;
}
.back span:nth-child(7) {
  animation-delay:.6s;
}
/**sidebar widget**/
.sidebar-widget{
  position:relative;
  min-height: 100%;
  .title-widget{
    margin:0;
    padding: 8px 6px 8px 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(12, 13, 14, 0.05);
    border-left: 3px solid #F48024;
  }
}

.scroll-fixed{
  width: 100%;
}
/** footer **/
#footer{
  background-color: #242729;
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  color: #6a737c;
  padding-top: 0;
  padding-bottom: 0;
  .container{
    padding: 32px 12px 12px 12px;
    a{
      &:hover{
        color: #bbc0c4;
      }
    }
    nav{
      display: flex;
      h5{
        font-size: $font_size_default;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 12px;
        color: #bbc0c4;
        line-height: 1.30769231;
        max-width: 230px;
        a {
          color: #bbc0c4;
          text-decoration: none;
          &:hover{
            color: #f2f3f3;
          }
        }
      }
      ul{
        margin: 0;
        padding:0;
        list-style: none;
        li{
          padding-bottom: 0;
          a{
            color: #848d95;
            padding: 4px 0;
            line-height: 1.30769231;
            display: inline-block;
            text-decoration: none;
          }
        }
      }
      .nav-column{
        flex: 1 0 auto;
        padding: 0 12px 24px 0;
      }
    }
  }
}