.btn-edit,.btn-delete{
    margin-left: 5px !important;
}
.customer-active,.customer-inactive,.customer-expired,.customer-expired-soon,.customer-total{
    text-align: center;
}
.customer-inactive,.customer-expired,.customer-expired-soon{
    border-left: 1px dashed #c0c0c0;
}
.customer-total{
    border-right: 1px dashed #c0c0c0;
}
.customer-active span{
    font-size: 18px;
    font-weight: bold;
    color: #26B99A !important;
}
.customer-inactive span{
    font-size: 18px;
    font-weight: bold;
    color: #d9534f !important;
}
.customer-expired span,
.customer-total span {
    font-size: 18px;
    font-weight: bold;
    color: #eea236 !important;
}
.customer-expired-soon span{
    font-size: 18px;
    font-weight: bold;
    color: #FFCC66 !important;
}

.text-blue{
    color: #0a6ebd;
}

.color-red {
    color: #d9534f;
}

.color-green {
    color: #26B99A;
}

.color-blue {
    color: #3498DB;
}

.mg-bt-10 {
    margin-bottom: 10px;
}

.mg-bt-15 {
    margin-bottom: 15px;
}

.wrap-detail-dealer .wrap-info-header {
    background: #172D44;
    margin-bottom: 15px;
    margin-top: 10px;
}
.wrap-detail-dealer .total_earned {
    font-size: 18px;
    font-weight: bold;
}

.wrap-detail-dealer .dealer-commission .btn-primary{
    display: block;
    margin-top: 45px;
}

.wrap-detail-dealer .dealer-commission{
    background-color: #f5f5f5
}

.wrap-detail-dealer .wrap-info-commission {
    display: flex;
    margin-bottom: 15px;
}

.wrap-detail-dealer .dealer-commission {
    background: #f5f5f5;
    height: 100%;
}

.wrap-detail-dealer .dealer-infor {
    height: 100%;
}
.wrap-detail-dealer .wrap-info-commission .form-group {
    margin-bottom: 0px;
}
.wrap-detail-dealer .wrap-image-dealers {
    float: left;
    padding: 15px;
    background: #172D44;
}
.wrap-detail-dealer .wrap-image-dealers #crop-avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 0px;
    // border-radius: 100%;
    // -moz-border-radius: 100%;
    // -webkit-border-radius: 100%;
}
.wrap-detail-dealer .wrap-image-dealers #crop-avatar img {
    display: block;
    width: 100%;
}
.wrap-detail-dealer .wrap-content-dealers {
    overflow: hidden;
    padding: 15px;
    color: #fff;
    background: #2A3F54;
    min-height: 160px;
    .item{
        width: 100%;overflow: hidden;
        margin-bottom: 15px;
        >label{
            min-width: 120px;
            float:left;
        }
        >p{
            float:left;
        }
    }
}
.wrap-detail-dealer .wrap-content-dealers .info-left {
    float: left;
}
.wrap-detail-dealer .wrap-content-dealers .info-right {
    float: right;
    padding-top: 10px;
    text-align: right;
}

.text-danger:parent {
    background: green;
}

.btn-edit-right,
.btn-copy {
    float: right;
}

.border-none {
    border: 0px !important;
}

label.error {
    font-weight: normal;
    color: #d14;
}
.profile_img_custom {
    height: 56px;
}
.mt-img {
    text-align: center;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
.mt-img img {
    border-radius: 50%;
    padding: 3px;
    background: #ddd;
}
.events-content .owl-carousel .item {
    border: 1px solid #E6E9ED;
    padding: 40px 30px;
}

.events-content .mt-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ddd;
}

.events-content .mt-img img {
    border-radius: 0%;
    padding: 0px;
    background: transparent;
}

.events-content .mt-body {

}
.events-content .mt-username {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.events-content .mt-status {
    margin-bottom: 0px;
}

.cd-horizontal-timeline .events-wrapper::before,
.cd-horizontal-timeline .events-wrapper::after {
    background-image: none !important;
}

.cd-horizontal-timeline {
    margin: 20px auto !important;
}

.cd-horizontal-timeline .filling-line {
    background-color: #ed5565 !important;
}

.cd-horizontal-timeline .events a.selected::after,
.no-touch .cd-horizontal-timeline .events a:hover::after
{
    background-color: #ed5565 !important;
    border-color: #ed5565 !important;
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #ed5565 !important;
}

.cd-horizontal-timeline .timeline {
    width: 99% !important;
}

.cd-horizontal-timeline .events-content li {
    padding: 0px 40px!important;
}

.owl-nav .owl-prev {
    width: auto;
    float: left;
    font-size: 25px;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: -40px;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.owl-nav .owl-next {
    width: auto;
    float: right;
    font-size: 25px;
    position: absolute;
    z-index: 999;
    top: 50%;
    right: -40px;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.owl-nav {
    position: static !important;
}
.list-customers-dealers {
    width: 100%;
}
.list-customers-dealers img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-customers-dealers .content {
    overflow: hidden;
    padding-left: 15px;
}
.list-customers-dealers .customers-profile {
    padding-left: 60px;
    padding-right: 80px;
}
.list-customers-dealers .icon-top {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

}
.list-customers-dealers .number {
    position: absolute;
    top: 0%;
    right: 25px;
    font-size: 25px;
}
.text-bold {
    font-weight: bold;
}
.list-customers-dealers .text-bold {
    margin-bottom: 5px;
}
.list-customers-dealers li {
    margin-bottom: 20px;
}
.list-customers-dealers.tabs-left {
    border-right: 1px solid #E6E9ED;
}
.list-customers-dealers .active:after {
    content: '';
    position: absolute;
    top: 7px;
    right: -20px;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-left: 10px solid #E6E9ED;
}
.list-customers-dealers li:nth-child(1) .icon-top{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('/themes/dashboard/image/crown_1.png') no-repeat center;
}
.list-customers-dealers li:nth-child(2) .icon-top{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('/themes/dashboard/image/crown_2.png') no-repeat center;
}
.list-customers-dealers li:nth-child(3) .icon-top{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('/themes/dashboard/image/crown_3.png') no-repeat center;
}
.list-customers-dealers .wrap-customers-profile {
    cursor: pointer;
}
.list-customer-info li {
    margin-bottom: 20px;
}
.list-customer-info li a {
    text-decoration: underline;
}
.list-customer-info li a:hover {
    text-decoration: none;
}
#regions_div {
    float: left;
    width: 70%;
    height: 600px;
}
.list-dealer-country {
    float: right;
    width: 30%;
    overflow: auto;
    max-height: 600px;
}
.list-dealer-country li {
    padding-top: 5px;
    border-bottom: 1px solid #E6E9ED;
}
.list-dealer-country li i {
   color: #3598dc;
}
.list-dealer-country li span {
    color: #3598dc;
    font-size: 20px;
    display: inline-block;
    padding-left: 10px;
}
.text-yellow{
    color: #FCD202;
    font-size: 22px;
    font-weight: bold;

}
.text-orange{
    color: #FF9E01;
    font-size: 22px;
    font-weight: bold;
}
.text-red{
    color:#FF0F00;
    font-size: 22px;
    font-weight: bold;
}
.text-blue{
    color:#0a6ebd;
    font-size: 22px;
    font-weight: bold;
}
.total-customer{
    text-align: center;
}
.total-customer h2{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
}
.product_type_highest{
     color: white;

}
.product_type_highest span{
    padding-top:5px;
    display:block;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.animated-custom .tile-stats{
    padding: 30px;
}
.animated-custom h3 {
    text-align: right;
    color: #73879C;
}
.animated-custom .tile-stats .icon {
    left: 10px;
    bottom: 6px;
    top: inherit;
    right: inherit;
}
.animated-custom .tile-stats .icon i {
    font-size: 35px;
}
.animated-custom.active .tile-stats{
    background-color: #2A3F54;
}
.animated-custom.active .tile-stats .icon i,
.animated-custom.active .tile-stats h3 {
    color: #fff;
}
.box-custom {
    padding: 15px 20px;
    margin-bottom: 20px;
}
.box-custom h4 {
    margin-top: 0px;
}
.box-custom a {
    color: #14679B;
}
.box-custom p {
    margin-bottom: 0px;
}
.link-underline {
    text-decoration: underline;
}
.box-custom .wrap-img {
    float: left;
    width: 100px;
    margin-right: 15px;
}
.box-custom .wrap-img img {
    display: block;
    width: 100%;
}
.box-custom .wrap-info {
    overflow: hidden;
}
.box-custom.box-green-dark {
    background: #7ABBAE;
}
.box-custom.box-green-dark h4,
.box-custom.box-green-pink h4,
.box-custom.box-green-pink p,
.box-custom.box-green-dark p{
    color: #fff;
}
.box-custom.box-green-light h4,
.box-custom.box-green-yellow h4 {
    color: #66696E;
}
.box-custom.box-green-light p,
.box-custom.box-green-yellow p {
    color: #718291;
}
.box-custom.box-green-light .wrap-info h4 {
    color: #48463C;
}
.box-custom.box-green-light {
    background: #B3DBC2;
}
.box-custom.box-green-yellow {
    background: #EFF9BE;
}
.box-custom.box-green-pink {
    background: #E5577B;
}
.wrap-total-sales {
    text-align: center;
}
.wrap-total-sales h2 {
    font-size: 24px;
}
.wrap-total-sales .fa {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.wrap-total-sales p {
    font-size: 24px;
}
.wrap-total-sales:nth-child(1) p,
.wrap-total-sales:nth-child(1) .fa {
    color: #F1C236;
}
.wrap-total-sales:nth-child(2) p,
.wrap-total-sales:nth-child(2) .fa {
    color: #E69138;
}
.wrap-total-sales:nth-child(3) p,
.wrap-total-sales:nth-child(3) .fa {
    color: #CC0000;
}
.wrap-total-sales:nth-child(4) p,
.wrap-total-sales:nth-child(4) .fa {
    color: #085394;
}
.daterangepicker .calendar th,
.daterangepicker .calendar td {
    font-size: 13px !important;
    font-weight: normal !important;
}
.wrap-export-cal {
    margin-top: 10px;
}
.wrap-export-cal fieldset {
    display: inline-block;
    width: 250px;
}
.wrap-export-cal form {
    display: inline-block;
    width: auto;
    float: right;
    margin-right: 15px;
}
.wrap-export-cal button {
    display: inline-block;
    float: right;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}
.row-flex [class*='col-']{
    display: flex;
}
.tab-content-custom {
    width: 100%;
}
.dealers-activities .total {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-top: 25px;
}
.dealers-activities .total.total-right {
    margin-right: 0px;
    margin-left: 15px;
}
.dealers-activities .number-total {
    display: block;
    font-size: 26px;
}
.dealers-activities .img-chart {
    display: inline-block;
    margin-top: -48px;
}
.list-sales-leaderboard.table > tbody > tr:nth-of-type(odd) {
    background: transparent;
}
.list-sales-leaderboard.table>tbody>tr>td {
    border-top: 1px solid transparent;
}
.list-sales-leaderboard .number {
    color: #8CC3E7;
    font-weight: bold;
}
.list-sales-leaderboard .total-sales {
    font-size: 18px;
}
.list-sales-leaderboard.table tr:nth-child(1) .number{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #007F9A;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-right: 1px;
}
.list-sales-leaderboard.table tr:nth-child(1) .total-sales {
    color: #007F9A;
}
.list-sales-leaderboard.table tr:nth-child(2) .number{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1e97b4;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-right: 1px;
}
.list-sales-leaderboard.table tr:nth-child(2) .total-sales {
    color: #1e97b4;
}
.list-sales-leaderboard.table tr:nth-child(3) .number{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #34acc8;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-right: 1px;
}
.list-sales-leaderboard.table tr:nth-child(3) .total-sales {
    color: #34acc8;
}
.list-sales-leaderboard.table tr:nth-child(4) .number{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5abfde;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-right: 1px;
}
.list-sales-leaderboard.table tr:nth-child(4) .total-sales {
    color: #5abfde;
}
.list-sales-leaderboard.table tr:nth-child(5) .number{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #67d5f0;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-right: 1px;
}
.list-sales-leaderboard.table tr:nth-child(5) .total-sales {
    color: #67d5f0;
}
.dealers-activities #datatable_wrapper .col-sm-12,
.dealers-activities #datatable_wrapper .col-sm-6 {
    display: block !important;
}
.wrap-activities-total {
    display: block;
    width: 100%;
}
.dataTables_wrapper .user-profile {
    float: left;
}
.dataTables_wrapper td a {
    line-height: 25px;
}
.tooltip-inner {
    white-space:pre-wrap;
    text-align: left;
}
.tooltip-users {
    display: inline-block;
}
.tooltip-users i {
    margin-left: 20px;
    vertical-align: middle;
}
.checkbox-paypal {
    margin-bottom: 10px;
}
.error_email {
    color: #d14;
}
.nav_report {
    cursor: pointer;
}
.policy{
    color: white;
}
.wrap-bg-white {
    background: #fff;
    border: 1px solid #f7f7f7;
    padding: 15px;
}
.bootbox-error .bootbox-body {
    color:#a94442;
}
.pd-left-0 {
    padding-left: 0px !important;
}
.user-total-left{
    border-right: 1px dotted #595b5d;
    text-align: center;
}
.user-total-right{
    text-align: center;
}
#btn-userPhoto{
    max-width: 200px;
    margin: 5px auto;
}

.required{
    color: red;
}

// .btn-default{
//     font-weight: bold;
// }

#img-userPhoto{
    max-height: 270px;
    margin: 0 auto;
}

.avata-user{
    position: relative;
}

.avata-user:hover .mask{
    display: block;
    background-color: rgba(0, 0, 0, .5);
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.mask .del-img {
    position: absolute;
    color: #ffffff;
    z-index: 2;
    font-size: 28px;
    top: 50%;
    transform: translateY(-50%);
}
.width-input-word{
    width: 60px !important;
    display: inline-block !important;
}
.width-select-word{
    width: 160px !important;
    display: inline-block !important;
}
.width-select-word-table{
    width: 60px !important;
    display: inline-block !important;
}
.btn-add-file{
    background: green;
    color: #ffffff;
    padding: 9px 7px;
    cursor: pointer;
}
.btn-add-file:hover{
    color: #ffffff;
}
.tab-sound-word{
    text-align: left;
    color: #000;
    width: 100%;
    background: #26b99a
}
.dropzone-custom-upload-file{
    height: 45px;
    min-height: 38px !important;
    padding: 4px;
    border: 1px dotted #46b8da  !important;
    border-radius: 4px;
    background: transparent;
    .dz-message {
        text-align: left;
        margin: 0em 0;

    }
}
.pron-sound-word{
    display: inline-block;
    padding: 5px;
}

.pron-sound-word-add, .letter-sound-word-add{
    display: inline-block;
}
.add-field-pron-sound-word{
    display: inline-block;
}
.dz-show-name{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    float: left;
}
.img-file-upload{
    width: 100%;
}
.ui-state-default{
    cursor: move;
}
#containerChart{
    max-width: 500px;
    text-align: center;
}
.tr-order-parent td{
    font-weight: bold;
}
.list-detail-order{
    padding: 10px;
    border: 1px solid #73879C;
}
.total-order{
    margin-top: 20px;
    float: right;
    text-align: right;
    p{
        font-weight: bold;
    }
}
.discount-voucher{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
}
.disabled-input{
    background-color: rgb(241, 241, 241) !important;
}
.date-voucher-end{
    float: left;
    width: 10%;
}
#form_custom_list .control-label{line-height: 34px;}

body{
    background-color: #bdc3c7;
}
.table-fixed{
    width: 100%;
    background-color: #f3f3f3;
    tbody{
        width: inherit;
        height:200px;
        overflow-y:auto;
    }
    thead,tbody,tr,td,th{
        display:block;
    }
    tbody{
        width: inherit;
        td{
            float:left;
        }
    }
    thead {
        tr{
            width: inherit;
            th{
                float:left;
            }
        }
    }
}

/* Leagues */
#logo-area {
    min-height: 60px;
    #image-area {
        position: relative;
        #image-preview {
            img {
                max-width: 200px;
            }
        }
        label {
            position: absolute;
            top: -1px;
            left: 0;
            i {
                padding: 10px;
                background: #e7e7e7;
                font-size: 17px;
                &:hover {
                    background: #f4f4f4;
                }
            }

        }
    }
}

input.upload-image {
    display: none;
}

.post_show {
    image{
        width: 100% !important;
    }
    p {
        iframe {
            width: 100% !important;
        }
    }

    iframe {
        width: 100% !important;
    }

}

/* Update result */
.result-field-type-2 {
    display: none;
}
#input-result, #form_custom_list {
    .typeahead.dropdown-menu {
        top: 58px !important;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        li {
            a {
                padding: 6px 20px;
                display: block;
                font-size: 14px;
            }
        }
    }
}

.number-notification {
  width: 20px;
  height: 20px;
  background: #1ABB9C;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  font-weight: bold;
  float: right;
}