.report-images .fileinput.fileinput-exists {
    .btn-rp-left {
        width: 48%;
        float: left;
    }
    
    .btn-rp-right {
        width: 48%;
        float: right;
        margin-right: 0px;
    }
}

.report-images {
    .fileinput-exists {
        .report-btn-remove-image {
            display: none;
        }
        
        .rp-preview.f-left {
            float: none !important;
        }
    }
    
    .fileinput-new {
        .report-btn-remove-image {
            display: block;
        }
    }
}