/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2017, 3:20:58 PM
    Author     : huonglm
*/
.table>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table>tbody>tr.selected_item {
  background: rgba(38, 185, 154, 0.16);
}
.table tbody tr:hover td {
  background: rgba(38, 185, 154, 0.07);
  //border-top: 1px solid rgba(38, 185, 154, 0.11);
  //border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}
select.type-sort {
  width: auto !important;
  float: left;
  display: inline-block;
  padding: 7px 60px 8px 15px !important;
  border: 1px solid #ccc;
  //height: 50px;
}
.sort-order {
  float: left;
  width: auto;
  border: 1px solid #ccc;
  border-left: 0px;
}
 .sort-order span {
  display: block;
  padding: 0px 12px;
  height: 16px;
  cursor: pointer;
  -webkit-transition: background .25s ease, color .25s ease;
  -moz-transition: background .25s ease, color .25s ease;
  -ms-transition: background .25s ease, color .25s ease;
  -o-transition: background .25s ease, color .25s ease;
  transition: background .25s ease, color .25s ease;
   color: #808080;
}
 .sort-order span.active {
  background: #dfdfdf;
  color: #fff;
  pointer-events: none;
}
 .sort-order i {
  font-size: 18px;
}
 .title_label{
   float: left;
   padding-right: 10px;
   line-height: 37px;
 }
.list-group-item h4{
  color: #337ab7 ;
}
.checkbox-form-email label{
  padding-left: 0px;
}
.title_email_template{
  position: absolute;
  font-size: 15px;
}
.list_email_template_send{
  height: 204px;
  overflow: scroll;
}
.type_send_email{
  margin-bottom: 15px;
}
.mess_curen{
  padding: 10px;
  background-color: #EDEDED;
}
.error_input{
  border: 1px solid #dd4b39;
}
.panel-group,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-heading a,
.panel-group .panel-title,
.panel-group .panel-title a,
.panel-group .panel-body,
.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body  {
  border-radius:2px;
  border:0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
}


.panel-group .panel-heading {
  padding: 0;
}
.panel-group .panel-heading a {
  display: block;
  background: #2A3F54;
  color:#fff;
  padding:15px;
  text-decoration:none;
  position: relative;
}
.panel-group .panel-heading a.collapsed {
  background: #7bbeed;
  //color:inherit;
}

.panel-group .panel-heading a:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  position: absolute;
  right: 20px;
  font-size: 14px;
}
.panel-group .panel-heading a.collapsed:after {
  content: "\e080";
}
.panel-group .panel-collapse {
  margin-top:5px!important;
}
.panel-group .panel-body  {
  background: #f7f7f7;
  padding:15px;
}
.panel-group .panel {
  background-color: transparent;
}

.panel-group .panel-body p:last-child,
.panel-group .panel-body  ul:last-child,
.panel-group .panel-body  ol:last-child {
  margin-bottom: 0;
}
.btn_send_email_dealer{
  float: right;
}
.right-sort-code{
  float: right;
}
.copy_sort_code{
  font-size: 14px;
  padding: 0px 0px !important;
  width: 100%;
}
.bg_new_cus{
  background: #7abbae;
}
.bg_new_com{
  background: #e5577b;
}
.bg_new_dealer{
  background: #b3dbc2;
  color: inherit !important;
}
.bg_today_sales{
  background: #eff9be;
  color: inherit !important;
}
.percent_cus_up{
  color: #0c8004;
  font-size: 15px;
}
.percent_cus_down{
  color: #cc0304;
  font-size: 15px;
}
.box_dashboard {
  color: #ffffff;
  position: relative;
  display: block;
  margin-bottom: 12px;
  border: 1px solid #E4E4E4;
  -webkit-border-radius: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  transition: all 300ms ease-in-out;
  padding: 20px;
}
.box_dashboard .content_box_dash{
  border-bottom: 1px solid #ffffff;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.central_col{
  text-align: center
}
.img_dash{
  width: 53px;
}
.box_dashboard h3{
  font-size: 30px;
}
.bg_today_sales .content_box_dash, .bg_new_dealer .content_box_dash{
  border-bottom: 1px solid #73879C;
}
.percent_cus_up_com{
  font-size: 15px;
}
.box_row{
  margin-top: 20px;
}
.name_cus_total{
  font-size: 15px;
  padding-top: 15px !important;
}
.img_cus_total{
  padding-top: 15px !important;
}
.number_cus_total{
  font-size: 25px;
  font-weight: bold;
}
.trail_plan_num{
  color:#f1c232;
}
.monthly_plan_num{
  color: #e69138;
}
.year_plan_num{
  color: #cc0304;
}
.cover_plan_num{
  color: #085394;
}
.table_cus_total{
  margin-top: 30px;
}
.list_country_das ul{
  list-style: none;
}
.list_country_das ul li h4{
  margin-bottom: 5px;
}
.list_country_das ul li p{
  margin-bottom: 0px;
}
.right_sales_leader{
  float: right;
  font-size: 14px;
  padding-top: 8px;
}
.box_content_bottom{
  background: #f5f5f5;
  padding: 10px;
}
.avatar_dealer{
  width: 50px;
}
.table_sales_leader tr{
  background-color: inherit !important;
}
.table_sales_leader tr td p{
  margin: 0px;
  font-size: 14px;
}
.table_sales_leader tr td{
  border-top: inherit !important;
  border-bottom: 1px solid #ddd;
}
.padding_avatar_dealer{
  padding-top: 25px !important;
}

.table_activities tr{
  background-color: inherit !important;
}
.table_activities tr td p{
  font-size: 14px;
}
.table_activities tr td{
  border-top: inherit !important;
  border-bottom: 1px solid #ddd;
}
.scroll_table_activities{
  height: 515px;
  overflow: scroll;
}
.link_read_more, .hide_read_more{
  color:#d43f3a;
}
.content_hidden{
  display: none;
}
.selection {
    .select2-selection ,
    .select2-container--focus {
        border: 1px solid #ccc !important;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
    }    
}
.select2-dropdown {
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.btn_clear{
  margin-left: 20px;
}
.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -18px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px;
}
.v-error .alert {
    padding: 8px;
}
.v-error .alert a {
    right: 0px;
}
.overflow-hidden {
    overflow: hidden;
}
.add-question {
    margin-top: 15px;
    
    .hidden_error {
        margin-top: 5px;
        float: left;
        width: 100%;
    }
}
.mg-left-zero {
    margin-left: 0px !important;
}
.add-question,
.hidden_error,
.mess_error_answer {
    display: none;
}

.custom-area {
    padding: 0px 0px 0px 5px;
}

.link_detail {
  cursor: pointer;
}

.menu_section h3 {
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-shadow: 1px 1px #000;
    text-indent: 15px;
    background: rgba(255, 255, 255, 0.05);
    border-left: 5px solid #1ABB9C;
}

.nav.side-menu > li > a {
  position: relative;
  display: block;
  padding: 13px 11px 12px;
}

.table_cus_total tr{
  cursor: pointer;
}
.table_cus_total tr:last-child {
  cursor: inherit;
}

.icon-check-blue {
  color: #00BF6F;  
}
.row-content {
  padding: 20px 0px;
  border-bottom: 1px dotted #eee;
}
.row-question-answer {
  border: 1px solid #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  background: rgba(136, 136, 136, 0.1);
}
.row-question-area {
  border-bottom: 1px solid #D0D2D3;
  margin-bottom: 10px;
  padding-bottom: 10px;  
}
.row-question-answer .row {
  margin-bottom: 10px;
}
.icon-fill-blue {
  background: #00BF6F;  
  color: #ffffff;
  padding: 3px 7px;
  border: 1px solid #00BF6F;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;  
  position: relative;
  top: 7px;
}
.row-answer-area .icon-left {
  margin-top: 5px;
}
.noti-cus{
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  float: right;
}