.checkbox-status {
    padding-left: 0px;
}

.img-thumb {
    max-width: 200px; 
    max-height: 150px;
}

.breadcrumb {
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.pagination-area {
    text-align: center;
}

.btn_status {
    width: 75px;
    padding: 3px 0px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.btn_status_false {
    background-color: #d9534f;
}

.btn_status_success {
    background-color: green;
}

.btn_status_edit {
    background-color: #007680;    
}

.table > tbody > tr.selected_item {
    background: rgba(38, 185, 154, 0.16);
}

.message .alert {
    margin-top: 20px;
}

.tag-detail {
    margin-top: 15px;
}

.btn-more {
    position: relative;
    top: -5px;
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px;
    background: rgba(255,255,255,0.85);
}

.link {
    color: #4a99e0;
}

.pointer {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

i {
    cursor: pointer;
}
.name-file-list{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.box-file-list{
    background: #f267268f;
    border-radius: 4px;
    float: left;
    width:100%;
    padding: 0px 10px;margin-bottom: 10px;
}

.tab-dropdown {
    text-align: left;
    width: 100%;
    color: #ffffff !important;
    background: #2A3F54 !important;
    border-color: #2A3F54 !important;
    position: relative;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.tab-dropdown::after {
    position: absolute;
    top: 13px;
    right: 10px;
    display: block;
    border: 5px solid #ffffff;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
}

.tab-dropdown[aria-expanded="true"] {
    color: #ffffff !important;
    background: #2A3F54 !important;
    border-color: #2A3F54 !important;
}

.tab-dropdown[aria-expanded="true"]::after {
    position: absolute;
    top: 8px;
    right: 10px;
    display: block;
    border: 5px solid #ffffff;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
}

.script-detail {
    .dz-preview-include {
        border-bottom: 1px solid #ccc;
    }

    .row {
        .dz-preview-include:last-of-type {
            border-bottom: none;
        }
    }
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.x_title_custom {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.modal .alert-error-message{
    display: none;
}

.collapse-custom {
    border-color: #2A3F54 !important
}

.avatar-radius {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.avatar-radius-mini {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.btn-radius {
    border-radius: 18px !important;
    -moz-border-radius: 18px !important;
    -webkit-border-radius: 18px !important;
    min-width: 64px;
}

.detail-item {
    padding: 15px 0px;
    
    &:nth-child(even) {
        background: #ffffff;
    }
    
    &:nth-child(odd) {
        background: #F7F7F7;
    }
}

.text-more {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.text-more-breadcrumb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    margin-bottom: -5px;
}

.text-center {
    .text-more {
        display: inline-block;
    }
}

.number-radius {
    float: left;
    height: 48px;
    width: 48px;
    border: 1px solid;
    border-radius: 100%;
    text-align: center;
    line-height: 48px;
    margin-right: 10px;
    font-size: 24px;
}

.no-border {
    border: 0px !important;
}

.full-width {
    width: 100% !important;
}

.rd-0 {
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.row-gray {
    background: #F7F7F7;
}

.report-title-row {
    background: #EBEEEF;
    padding: 10px;
    margin-left: -5px;
    width: calc(100% + 10px);
    margin-top: 10px;
    margin-bottom: 10px;
}

.report-btn-group-left {
    position: relative;
    width: 50px;
    height: 30px;
    border: solid 1px #EBEEEF;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;    
   
    label {
        position: absolute;
        width: 28px;
        background: #EBEEEF;
        left: 0px;
        height: 28px;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
    }
}

.report-btn-group-right {
    position: relative;
    width: 50px;
    height: 30px;
    border: solid 1px #EBEEEF;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;    
   
    label {
        position: absolute;
        width: 28px;
        background: rgb(38, 185, 154);
        right: 0px;
        height: 28px;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
    }
}

.break-all {
    word-break: break-all;
}