/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2018, 4:53:24 PM
    Author     : huonglm
*/

.sui-treeview-item, li.sui-treeview-item {
    padding: 0.2em;
    margin-left: 25px;
}

.permission-label {
    margin: 28px 28px 0px 28px;
    font-weight: 700;
    color: rgb(109, 109, 109);
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.sui-treeview-list {
    li {
        width: 45%;
        float: left;
        margin-bottom: 15px; 
        
        ul {
            li {
                width: 100%;
                margin-bottom: 0px; 
            }
        }
    }    
}

.sui-treeview-item-text:hover {
    color: rgb(109, 109, 109) !important;
    background-color: transparent !important;
}