.dz-progress {
    height: 8px;
    background: #cccccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
}

.dz-upload {
    float: left;
    background: #5FB667;
    height: 8px;
}

.dz-img-thumb {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;    
}

.upload-file-dropzone .dz-preview:first-of-type {
    margin-top: 10px;
}

.order-edit-input {
    width: 50px;
    border: none;
    border-bottom: 1px solid;
}

.dz-name-edit-input {
    display: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}

.popup-upload-area {
    padding: 0px;
    overflow: hidden;
    width: 600px !important;
}

.popup-upload-search {
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
}

.popup-btn-tab-1 {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: 0px;
    margin-left: -15px;
    width: calc(50% + 15px);
}

.popup-btn-tab-2 {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: 0px;
    margin-right: -15px;
    width: calc(50% + 15px);
}

.popup-tab-area {
    padding: 10px 0px;
}

.popup-preview-audio,
.popup-preview-video,
.popup-preview-image {
    text-align: center;
}

.popup-library-file-name {
    position: relative;
    top: -5px;    
    cursor: pointer;
}

.popup-library-file-name:hover {
    color: #46b8da;
}

#popup-tab-1 {
    max-height: 350px;
    overflow-y: scroll;
}

.collapse-custom {
    overflow: hidden;
    border: 1px solid #46b8da;
    margin-top: -11px;
}